<h1>Welcome To The Details Page</h1>

<p>Rating: {{theBook.rating}}</p>

<h2>Title: {{theBook.name}}</h2>

<h3>By: {{theBook.author}}</h3>


<p>{{theBook.description}}</p>

<a href="/books/edit/{{theBook._id}}">Edit This Book</a>


<form action="/books/delete/{{theBook._id}}" method="POST">
    <button>Delete This Book</button>
</form>



